button{
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    padding: 6px;
    width: 7vw;
}
.all{
    display: flex;
    flex-direction: column;
    border: black, solid, 2px;
    width: 30vw;
    height: 30vh;
    border-radius: 20px;
    background-color: cornsilk;
    align-items: center;
    
}
.me{
    display: flex;
    gap: 30px;

}

